<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mppl.starfilm.mapper.MembercardMapper" >
  <resultMap id="BaseResultMap" type="com.mppl.starfilm.pojo.Membercard" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="cinemaId" property="cinemaid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="credits" property="credits" jdbcType="INTEGER" />
    <result column="limitTime" property="limittime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userId, cinemaId, createTime, money, enable, credits, limitTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mppl.starfilm.pojo.MembercardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from membercard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mppl.starfilm.pojo.MembercardExample" >
    delete from membercard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mppl.starfilm.pojo.Membercard" >
    insert into membercard (id, userId, cinemaId, 
      createTime, money, enable, 
      credits, limitTime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{cinemaid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{money,jdbcType=REAL}, #{enable,jdbcType=INTEGER}, 
      #{credits,jdbcType=INTEGER}, #{limittime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.mppl.starfilm.pojo.Membercard" >
    insert into membercard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="cinemaid != null" >
        cinemaId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="credits != null" >
        credits,
      </if>
      <if test="limittime != null" >
        limitTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="cinemaid != null" >
        #{cinemaid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="credits != null" >
        #{credits,jdbcType=INTEGER},
      </if>
      <if test="limittime != null" >
        #{limittime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mppl.starfilm.pojo.MembercardExample" resultType="java.lang.Integer" >
    select count(*) from membercard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update membercard
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.cinemaid != null" >
        cinemaId = #{record.cinemaid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=INTEGER},
      </if>
      <if test="record.credits != null" >
        credits = #{record.credits,jdbcType=INTEGER},
      </if>
      <if test="record.limittime != null" >
        limitTime = #{record.limittime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update membercard
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      cinemaId = #{record.cinemaid,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=DATE},
      money = #{record.money,jdbcType=REAL},
      enable = #{record.enable,jdbcType=INTEGER},
      credits = #{record.credits,jdbcType=INTEGER},
      limitTime = #{record.limittime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>